/* 
Colors
CAII
#48A9C5 light blue
#1B365D dark blue
*/

p {
	font-family: sans-serif;
}

label {
	font-family: sans-serif;
}

div {
	padding: 40px;
}

#uploadImage {
	background-color: #1B365D;
	color:  white;
	border:  none;
	padding:  15px 32px;
	text-align: center;
	font-size:  16px;
}

#compareFaces {
	max-width: 300px;
	font-family: sans-serif;
}

#sliderFaces {
	max-width: 500px;
	font-family: sans-serif;
}

img.obj {
	max-width: 300px;
}