<!DOCTYPE html>
<html lang="en">
   <head>
      <title>
        Visualizations
      </title>
      <meta charset="utf-8" />
      <meta name="robots" content="noindex, nofollow" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body class="">
      <!-- Single Column container for data visualizations ---->
      <section class="datavis">
         <!-- Custom style sheet for the faces interactive elements -->
         <link rel="stylesheet" href="{{ url_for('static',filename='css/custom/faces-style.css') }}">
         <!-- Import the d3 library -->
         <script src="https://d3js.org/d3.v6.min.js"></script>
         <!-- ### Begin Face Upload Vis -->
         {% if set_tab %}
            <script>
               document.addEventListener("DOMContentLoaded", function() {
                  document.location.hash = '#myface';
               });
            </script>
         {% endif %}

         <section id="myface">
            <div id="uploadFace" class="svg-container">
               <span class="visTitle">Upload Vis</span>
               <p>Upload an image of your face for the algorithm to predict how likely you are to win an election, based solely on information about your face.</p>
               <form method="POST" enctype="multipart/form-data" id="faceUploadForm" name='faceUploadForm'>
                  <label for="myfile" class="custom-file-upload">Select an image (JPEG, PNG):</label>
                  
                  <input type="file" id="myfile" name="fileToUpload">
                  <span id="showFileSelected">{{ imageName }}</span>
                  <p><span class="visTitle" id="yourPrediction">{{ yourPrediction }}</span></p>
            
                  {% if error %}
                     <p id="error">{{ error }}</p>
                  {% endif %}
               </form>
               <div id='imageContainer'>
                  <p id="imageLoading"></p>
                  {% if yourImage %}
                  <img src="{{ yourImage }}" />
                  {% endif %}
               </div>               
            </div>
         </section>
         <script src="{{ url_for('static', filename='js/upload-face.js') }}"></script>
         <!-- ### End Face Upload Vis --->
         <div class="fillertext">
            <p>At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Dignissim convallis aenean et tortor. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Magna fermentum iaculis eu non diam phasellus vestibulum. Bibendum neque egestas congue quisque.
            </p>
         </div>
      </section>
      
      <section class="datavis">
         <div id="compareFaces" >
            <span class="visTitle">Beat the Algorithm</span>
            <p>These two candidates ran for election. Based solely on their faces, the algorithm predicts the correct winner 100% of the time. See if you can beat the computer!</p>
            <svg id="compareSVG"></svg>
            <script src="{{ url_for('static', filename='js/compare-faces.js') }}"></script>
         </div>
         <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui ut ornare lectus sit amet est placerat. Vulputate eu scelerisque felis imperdiet proin. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Orci ac auctor augue mauris augue neque. Diam maecenas sed enim ut sem viverra aliquet eget. Donec ultrices tincidunt arcu non. Urna nec tincidunt praesent semper feugiat nibh sed. Phasellus vestibulum lorem sed risus ultricies. Amet nulla facilisi morbi tempus iaculis urna id volutpat.</p>
         </div>
      </section>
      <section id="slidersSection">
         <div id="sliderFaces">
            <span class="visTitle">Slider Vis</span>
            <p>The algorithm randomly adjusts pixels in the seed image as it generates images, and these changes affect the predicted score for the image. Move the sliders to explore the "face space" and observe how the facial changes affect the scores.</p>
            <div id="sliderImageDiv">
               <img src="{{ url_for('static',filename='slider-faces/renamed_images_200/seed_200_var_aadd.png') }}" id="topImage" class="sliderImage"></img>
            </div>
            <span>
               <div id="prediction">Value: 0.0000</div>
               <svg id="sliderArrowSVG"></svg>
            </span>
            <br />
            <div id="slidersDiv">
               <label id="button124" class="custom-button">Button 124</label> <label id="button200" class="custom-button">Button 200</label>
               <br />
               <label for="slider_1">A</label><input type="range" min="-1" max="1" step="0.25" value="-1" id="slider_1" class="sliders" >
               <br/>
               <label for="slider_2">B</label><input type="range" min="-1" max="1" step="0.25" value="-1" id="slider_2" class="sliders">
               <br/>
               <label for="slider_3">C</label><input type="range" min="-1" max="1" step="0.25" id="slider_3" class="sliders">
               <br/>
               <label for="slider_4">D</label><input type="range" min="-1" max="1" step="0.25" id="slider_4" class="sliders">
            </div>
            <script src="{{ url_for('static', filename='js/slider-faces.js') }}"></script> 
         </div>
      </section>
   </body>
</html>
