
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Faces</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="style/faces-style.css">

<script src="https://d3js.org/d3.v6.min.js"></script>
<!-- <script src="script/d3.v6.min.js"></script> -->

<body>

<div id="uploadFace" class="svg-container">
	<p>Upload an image of your face for the algorithm to predict how likely you are to win an election, based solely on information about your face.</p>
	<form method="POST" enctype="multipart/form-data" name='faceUploadForm'>
		<!-- <label for="myfile" class="custom-file-upload">Select an image (JPEG, PNG):</label>
		<span id="showFileSelected"></span> -->
		<input type="file" id="myfile" name="fileToUpload">
		<input type="submit" name="submit" value="submit">
		<p id="error">{{ error }}</p>
		<p id="yourPrediction">{{ yourPrediction }}</p>
		<br/>
		<br/>
		<br/>

<!-- 		<input id="uploadImage" type="submit" name="submit" value="Upload Image"> -->
	</form>
	<div id='imageContainer'>
	</div>

</div>

<div id="compareFaces" class="svg-container">
	<p>Can you beat the computer? These two candidates ran for election. Based solely on their faces, click on the candidate who you think won.
</p>
	<svg id="compareSVG">
	</svg>
</div>


	<div id="sliderFaces" class="svg-container">
		<svg id="sliderSVG"></svg>
		<br />
		<g id="slidersG">
			<label for="slider_1">Slider A </label><input type="range" min="-1" max="1" step="0.25" id="slider_1" class="sliders" >
			<br/>
			<label for="slider_2">Slider B </label><input type="range" min="-1" max="1" step="0.25" id="slider_2" class="sliders">
			<br/>
			<label for="slider_3">Slider C </label><input type="range" min="-1" max="1" step="0.25" id="slider_3" class="sliders">
			<br/>
			<label for="slider_4">Slider D </label><input type="range" min="-1" max="1" step="0.25" id="slider_4" class="sliders">
		</g>

	</div>
<script src="script/upload-face.js"></script>
<script src="script/compare-faces.js"></script>
<script src="script/slider-faces.js"></script>


</body>
</html>