/* 
Colors
CAII
#48A9C5 light blue
#1B365D dark blue
#39393a dark grey
*/


text {
	color: #39393a;
	font-size: 16px;
}

label {
	color:  #39393a;
}

#uploadFace {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #ececec;
	text-align: center;
	word-wrap: normal;
}

#error {
	color: red;
	font-weight: bold;
	font-family: 'TradeGothic Cn 18';
}

span {
	font-family: sans-serif;
}

.visTitle {
	text-align: center;
	color: #1B365D;
	font-family: 'TradeGothic BoldCn 20';
	font-weight: inherit;
	font-size: 2em;
	letter-spacing: 0rem;
}

.visText {
	text-align: center;
	color: #1B365D;
	font-family: 'Trade Gothic LT W01 Light';
	font-weight: inherit;
	font-size: calc(16px + .3vw);
	line-height: 1.75;

}

/* Mobile version */
@media only screen and (max-width: 424px) {
	body{
		background-color: pink;
	} 
}



input[type="file"] {
	display: none;
}
.custom-file-upload {
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #1B365D;
    color:  white;
}

#imageContainer > img {
	max-width: 80%;
}

#compareFaces {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #ececec;
	text-align: center;
	word-wrap: normal;
}

#currentScore {
	color: #1B365D;
	font-family: 'TradeGothic BoldCn 20';
}

#imageText {
	text-align: center;
	color: #1B365D;
	font-family: 'TradeGothic BoldCn 20';
	font-weight: inherit;
	letter-spacing: 0rem;
	font-size: 1.5em;
}

/*Background of slider vis*/
#sliderFaces {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #ececec;
	text-align: center;
	word-wrap: normal;
}


/*Div containing the image*/
#sliderImageDiv {
	position: relative;
	height: 240px;
	width: 220px; /*281px;*/
	margin: 0 auto;
}
#sliderImageDiv img {
	position: absolute;
	left: 0;
}
.sliderImage {
	max-width: 220px;
	max-height:  220px;
}

.personButton div {
	fill:  magenta;
}

/*Div containing the sliders*/
#slidersDiv {
	width: 300px;
	position: relative;
	margin: 0 auto;
}
.sliders {
	-webkit-appearance: none;
    background: lightgray;
    width: 70%;
    height: 15px;
    border-radius: 5px;
    opacity: 0.7;
    outline: none;
    margin: 10px;
}
.sliders:hover {
	opacity: 1;
}

.sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #48A9C5;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}

#sliderArrowSVG {
	display: inline;
}
#prediction {
	display: inline;
	text-align: center;
	color: #1B365D;
	font-family: 'TradeGothic BoldCn 20';
	font-weight: inherit;
	letter-spacing: 0rem;
	font-size: 1.5em;
}
.bounce {
  animation: bounce 2.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  50%,
  100%{
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  75% {
    transform: translateY(-6px);
  }
}
